<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="d:\log\nlog-internal.log" >

  <targets>
    <target name="file" xsi:type="File" encoding="utf-8" fileName="${basedir}/log/${shortdate}-trace.log" />
    <target name="errors" xsi:type="File" encoding="utf-8" fileName="${basedir}/log/${shortdate}-error.log" />
    <target name="warnings" xsi:type="File" encoding="utf-8" fileName="${basedir}/log/${shortdate}-warning.log" />
  </targets>

  <rules>
    <logger name="*" levels="Error" writeTo="errors" />
    <logger name="*" levels="Warn" writeTo="warnings" />
    <logger name="*" minlevel="Trace" writeTo="file" />
  </rules>
</nlog>